@tailwind base;
@tailwind conponents;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.error-field{
  border-color: rgba(225,29,72 ,0.5);
}